In [420]:
print("jai")

jai

In [421]:
import pandas as pd
import numpy as np

In [422]:


data=pd.read_csv('Bengaluru_House_Data.csv')

In [423]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [424]:
data.shape

(13320, 9)

In [425]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [426]:
for column in data.columns :
    print(data[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
16-Oct               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Prtates    59
Sryalan    59
GMown E    56
           ..
SNadeAr     1
DSellil     1
Shensit     1
VKvenas     1
Vemes H     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200           843
1100           221
1500           205
2400           196
600            180
              ...
2920             1
5665.84          1
1369             1
7150             1
1200 - 1470      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
11.0       3
13.0       3
16.0       2
27.0       1
14.0       1
40.0       1
15.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
43.04      1
61.11      1
46.56      1
42.54      1
47.35      1
Name: count, Length: 1994, dtype: int64
********************

In [427]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [428]:
data.drop(columns=['area_type','availability','society'],inplace=True)
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [429]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [430]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [431]:
data['location'].value_counts()

location
Whitefield                         540
Sarjapur  Road                     399
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
3rd Stage Raja Rajeshwari Nagar      1
Chuchangatta Colony                  1
Electronic City Phase 1,             1
Chikbasavanapura                     1
Abshot Layout                        1
Name: count, Length: 1305, dtype: int64

In [432]:
data['location'].isna().sum()

np.int64(1)

In [433]:
data = data.dropna(subset=['location'])

In [434]:
data['location'].isna().sum()

np.int64(0)

In [435]:
data['size'].value_counts()

size
2 BHK         5199
3 BHK         4309
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
43 Bedroom       1
16 BHK           1
14 BHK           1
12 Bedroom       1
13 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [436]:
data['size'].isna().sum()

np.int64(16)

In [437]:
data.dropna(subset=['size'], inplace=True)

In [438]:
data['bath']=data['bath'].fillna(data['bath'].median())
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13303 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13303 non-null  object
 1   size        13303 non-null  object
 2   total_sqft  13303 non-null  object
 3   bath        13303 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       13303 non-null  float64
dtypes: float64(3), object(3)
memory usage: 727.5+ KB

In [439]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [440]:
data[data.bhk >20]

,location,size,total_sqft,bath,balcony,price,bhk
1718,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [441]:
data['balcony'].isna().sum()

np.int64(593)

In [442]:
data['balcony'] = data['balcony'].fillna(0)

In [443]:
data['balcony'].isna().sum()

np.int64(0)

In [444]:
data['balcony'].describe()

count    13303.000000
mean         1.513719
std          0.863189
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          3.000000
Name: balcony, dtype: float64

In [445]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      shape=(2110,), dtype=object)

In [446]:
# Function to handle range values and convert to float
def convertRange(x):
    try:
        # If it's a range like "2100 - 2850"
        if '-' in x:
            temp = x.split('-')
            return (float(temp[0]) + float(temp[1])) / 2
        # If it's a single floatable value like "1200"
        else:
            return float(x)
    except:
        # If it's non-convertible like "34.46Sq. Meter", return None
        return None

# Apply the function
data['total_sqft'] = data['total_sqft'].apply(convertRange)

# Display first few rows
data.head()

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0      1.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0      1.0   51.00    2

In [447]:
data['price_per_sqft']=data['price']*100000 / data['total_sqft']

In [448]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13303, dtype: float64

In [449]:
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,13257.000000,13303.000000,13303.000000,13303.000000,13303.000000,1.325700e+04
mean,1558.809175,2.689619,1.513719,112.584033,2.803728,7.912825e+03
std,1238.478935,1.339393,0.863189,148.993820,1.295022,1.064976e+05
min,1.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4.271186e+03
50%,1275.000000,2.000000,2.000000,72.000000,3.000000,5.438596e+03
75%,1680.000000,3.000000,2.000000,120.000000,3.000000,7.313318e+03
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.200000e+07

In [450]:
data['location'].value_counts()

location
Whitefield                         539
Sarjapur  Road                     397
Electronic City                    302
Kanakpura Road                     273
Thanisandra                        234
                                  ...
KAMAKIYA                             1
Wheelers Road                        1
MM Layout                            1
Devarabeesana Halli                  1
beml layout, basaveshwara nagar      1
Name: count, Length: 1304, dtype: int64

In [451]:
data['location']=data['location'].apply(lambda x:x.strip())
location_count=data['location'].value_counts()

In [452]:
location_coun_less_10=location_count[location_count<=10]
location_coun_less_10

location
Sector 1 HSR Layout                     10
Basapura                                10
Nagadevanahalli                         10
BTM 1st Stage                           10
Nagappa Reddy Layout                    10
                                        ..
Duddanahalli                             1
Doddanakunte                             1
Jogupalya                                1
Subhash Nagar                            1
Kengeri Satellite Town KHB Apartment     1
Name: count, Length: 1052, dtype: int64

In [453]:
data['location']=data['location'].apply(lambda x:'other'if x in location_coun_less_10 else x)
data['location'].value_counts()

location
other                        2882
Whitefield                    540
Sarjapur  Road                397
Electronic City               304
Kanakpura Road                273
                             ...
Tindlu                         11
Marsur                         11
2nd Phase Judicial Layout      11
Thyagaraja Nagar               11
HAL 2nd Stage                  11
Name: count, Length: 242, dtype: int64

In [454]:
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,13257.000000,13303.000000,13303.000000,13303.000000,13303.000000,1.325700e+04
mean,1558.809175,2.689619,1.513719,112.584033,2.803728,7.912825e+03
std,1238.478935,1.339393,0.863189,148.993820,1.295022,1.064976e+05
min,1.000000,1.000000,0.000000,8.000000,1.000000,2.678298e+02
25%,1100.000000,2.000000,1.000000,50.000000,2.000000,4.271186e+03
50%,1275.000000,2.000000,2.000000,72.000000,3.000000,5.438596e+03
75%,1680.000000,3.000000,2.000000,120.000000,3.000000,7.313318e+03
max,52272.000000,40.000000,3.000000,3600.000000,43.000000,1.200000e+07

In [455]:
(data['total_sqft']/data['bhk']).describe()

count    13257.000000
mean       574.423690
std        387.598667
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [456]:
data=data[((data['total_sqft']/data['bhk']>=300))]
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,12513.000000,12513.000000,12513.000000,12513.000000,12513.000000,12513.000000
mean,1593.745883,2.560217,1.524175,111.400362,2.651642,6307.441644
std,1261.402072,1.078477,0.851363,152.104715,0.977059,4160.931610
min,300.000000,1.000000,0.000000,9.000000,1.000000,267.829813
25%,1116.000000,2.000000,1.000000,49.000000,2.000000,4210.526316
50%,1300.000000,2.000000,2.000000,70.000000,3.000000,5295.007564
75%,1700.000000,3.000000,2.000000,115.000000,3.000000,6916.666667
max,52272.000000,16.000000,3.000000,3600.000000,16.000000,176470.588235

In [457]:
data.shape

(12513, 8)

In [458]:
data.price_per_sqft.describe()

count     12513.000000
mean       6307.441644
std        4160.931610
min         267.829813
25%        4210.526316
50%        5295.007564
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [459]:
# Function to remove outliers based on price_per_sqft for each location
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()

    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)

        filtered_df = subdf[
            (subdf.price_per_sqft > (m - st)) & 
            (subdf.price_per_sqft <= (m + st))
        ]
        
        df_output = pd.concat([df_output, filtered_df], ignore_index=True)

    return df_output

# Apply the outlier removal function
data = remove_outliers_sqft(data)

# Display basic statistics
data.describe()

,total_sqft,bath,balcony,price,bhk,price_per_sqft
count,10286.000000,10286.000000,10286.000000,10286.000000,10286.000000,10286.000000
mean,1507.539685,2.471612,1.536555,91.250812,2.574859,5659.999439
std,879.997706,0.979677,0.836326,86.320703,0.898108,2265.627947
min,300.000000,1.000000,0.000000,10.000000,1.000000,1250.000000
25%,1109.000000,2.000000,1.000000,49.000000,2.000000,4250.000000
50%,1285.000000,2.000000,2.000000,67.000000,2.000000,5176.359705
75%,1650.000000,3.000000,2.000000,100.000000,3.000000,6428.571429
max,30400.000000,16.000000,3.000000,2200.000000,16.000000,24509.803922

In [460]:
# Function to remove BHK-wise outliers based on price_per_sqft
def bhk_outlier_remover(df):
    exclude_indices = np.array([])

    for location, location_df in df.groupby('location'):
        bhk_stats = {}

        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }

        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk - 1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(
                    exclude_indices,
                    bhk_df[bhk_df.price_per_sqft < stats['mean']].index.values
                )

    return df.drop(exclude_indices, axis='index')

In [461]:
data=bhk_outlier_remover(data)

In [462]:
data.shape

(7353, 8)

In [463]:
data

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,1st Block Jayanagar,4 BHK,2850.0,4.0,1.0,428.0,4,15017.543860
1,1st Block Jayanagar,3 BHK,1630.0,3.0,2.0,194.0,3,11901.840491
2,1st Block Jayanagar,3 BHK,1875.0,2.0,3.0,235.0,3,12533.333333
3,1st Block Jayanagar,3 BHK,1200.0,2.0,0.0,130.0,3,10833.333333
4,1st Block Jayanagar,2 BHK,1235.0,2.0,2.0,148.0,2,11983.805668
...,...,...,...,...,...,...,...,...
10277,other,2 BHK,1200.0,2.0,3.0,70.0,2,5833.333333
10278,other,1 BHK,1800.0,1.0,1.0,200.0,1,11111.111111
10281,other,2 BHK,1353.0,2.0,2.0,110.0,2,8130.081301
10282,other,1 Bedroom,812.0,1.0,0.0,26.0,1,3201.970443
10285,other,4 BHK,3600.0,5.0,0.0,400.0,4,11111.111111

In [464]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [465]:
data.head()

              location  total_sqft  bath  balcony  price  bhk
0  1st Block Jayanagar      2850.0   4.0      1.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2

In [466]:
data.to_csv("Cleaned_data.csv")

In [467]:
x=data.drop(columns=['price'])
y=data['price']

In [468]:
# Importing necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# Printing the shape of training and testing sets
print(x_train.shape)
print(x_test.shape)

(5882, 5)
(1471, 5)

In [469]:
column_trans = make_column_transformer(
    (OneHotEncoder(sparse_output=False), ['location']),
    remainder='passthrough'
)

In [470]:
scaler=StandardScaler()

In [471]:


lr_pipeline = make_pipeline(StandardScaler(), LinearRegression())

In [472]:
pipe=make_pipeline(column_trans,scaler,lr_pipeline)

In [473]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('pipeline',
                 Pipeline(steps=[('standardscaler', StandardScaler()),
                                 ('linearregression', LinearRegression())]))])

In [474]:
y_pred_lr=pipe.predict(x_test)

In [475]:
r2_score(y_test,y_pred_lr)

0.8758035818316482

In [476]:
import pickle
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge

In [477]:
y_pred_lasso = pipe.predict(x_test)
y_pred_ridge = pipe.predict(x_test)

r2_no_regularization = r2_score(y_test, y_pred_lr)
r2_lasso = r2_score(y_test, y_pred_lasso)
r2_ridge = r2_score(y_test, y_pred_ridge)

In [478]:

print(f"No Regularization: {r2_no_regularization}")
print(f"Lasso: {r2_lasso}")
print(f"Ridge: {r2_ridge}")

No Regularization: 0.8758035818316482
Lasso: 0.8758035818316482
Ridge: 0.8758035818316482

In [479]:

pickle.dump(pipe, open('RidgeModel.pkl', 'wb'))